@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    color: #241c15;
    font-family: $f-family-default;
    line-height: 1.5;
}

a {
    color: currentColor;
    text-decoration: none;
}

