
*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    // color: #241c15;
    font-family: $f-family-default;
    line-height: 1.5;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

a {
    color: currentColor;
    text-decoration: none;
    transition:all 250ms ;

    &:hover {
        text-decoration: underline;
    }
}
