.title-10 {
    font-size: 28px;
    line-height: 1.2;
}

.title-20 {
    font-size: 23px;
}

.title-30 {
    font-size: 18px;
}

.f-weight-normal {
    font-weight: $f-weight-normal;
}

.f-weight-medium {
    font-weight: $f-weight-medium;
}

.f-family-default {
    font-family: $f-family-default;
}

.f-family-serif {
    font-family: $f-family-serif;
}

.c-text-secondary {
    color: #444;
}