@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;1,400&family=Merriweather:wght@700&display=swap');

$f-weight-normal: 400;
$f-weight-medium: 500;
$f-weight-bold: 700;

$f-family-default: 'IBM Plex Sans', sans-serif;;
$f-family-serif:'Merriweather', serif;

$c-primary-light: #c5dbf2;