.header {
    background-color: $c-primary-light;

    &__container {
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__items {
        display: flex;
        align-items: center;
    }

    &__item {
        padding: 0 8px;

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }

        a {
            &:hover {
                text-decoration: underline;
            }
        }

        &.logo {
            font-weight: $f-weight-medium;
            font-size: 20px;
        }
    }
}