.posts {
    &__grid {
        padding: 60px 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 35px;
    }

}

.post {
    display: grid;
    grid-template-columns: auto 2fr 1fr;
    grid-column-gap: 70px;
    padding-bottom: 35px;
    border-bottom: 1px solid #eee;

    &__cover {
        display: flex;
        align-items: center;
        width: 100%;
        border-radius: 4px;
        box-shadow: 2px 5px 20px #ddd;
    
        img {
            width: 100%;
            border-radius: 4px;
            object-fit: scale-down;
        }
    }

    &__title {
        font-size: 22px;
        font-weight: 700;
        font-family: $f-family-serif;
        line-height: 1.2;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &__description {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        max-height: 84px;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        font-size: 16px;
        color: #444;
    }

    &__category, .read-more {
        font-size: 15px;
    }

    .read-more {
        margin-top: 16px;
        font-weight: 500;
    }
}